---
layout: default
---
<h2 class="section-title">{{ page.category_name }}</h2>

<ul class="post-list">
  {% for post in site.categories[page.category_name] %}
  <li>
    {% if post.categories %}
    {% for cat in post.categories %}
    <a href="{{ '/categories/' | append: cat | relative_url }}" class="cat-tag">{{ cat }}</a>
    {% endfor %}
    {% endif %}
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="post-meta">{{ post.date | date: "%Y년 %m월 %d일" }}</p>
    <p>{{ post.excerpt | strip_html | truncate: 120 }}</p>
  </li>
  {% endfor %}
</ul>